.footer {
  display: grid;
  height: 30vh;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1vw;
  background-color: #232423;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.footer-title {
  font-family: "Lobster";
  font-size: 2vw;
  justify-self: flex-start;
}

.footer-content {
  font-size: 1.3vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer-hint {
  font-size: 0.9vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 500px) {
  .footer-content {
    font-size: 1vw;
  }
  .footer-hint {
    font-size: 0.3vw;
  }
}
