@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import "./header.css";
@import "./top-main.css";
@import "./strength.css";
@import "./profile.css";
@import "./footer.css";

html,
body {
  width: 100%;
  height: 200vh;
  scroll-behavior: smooth;
}

a > i {
  font-size: 1rem;
}

img {
  display: flex;
}

* {
  box-sizing: border-box;
}
